@page
@model WebApp.Pages.JobOffers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobOffer[0].employerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOffer[0].contentLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOffer[0].localization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOffer[0].tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOffer[0].expirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobOffer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expirationDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
