@page
@model WebApp.Pages.JobOffers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Current job offers</h1>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

@if (User.IsInRole("Employer"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}

<table class="table float-left">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.descriptionSort">
                    @Html.DisplayNameFor(model => model.JobOffer[0].Description)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.localizationSort">
                    @Html.DisplayNameFor(model => model.JobOffer[0].Localization)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.tagsSort">
                    @Html.DisplayNameFor(model => model.JobOffer[0].Tags)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.addedDateSort">
                    @Html.DisplayNameFor(model => model.JobOffer[0].AddedDate)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JobOffer)
        {
            <tr id="trPreview+@item.Id" style="cursor: pointer;" onclick="openJobOfferId(@Html.DisplayFor(modelItem => item.Id))">
                <td class="shortString">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <a id="preview+@item.Id" class="trLink" style="display: none" 
                    asp-page="/JobOffers/Index" 
                    asp-route-jobId="@item.Id"
                    asp-route-sortOrder="@Model.CurrentSort"
                    asp-route-searchString="@Model.CurrentFilter">
                </a>
            </tr>
        }
    </tbody>
</table>
@if (Model.JobOfferSingle != null)
{
<div class="float-right" style="width: 50%">
    <a asp-page-handler="Download" asp-route-id="@Model.JobOfferSingle.FileId">Download</a>
    @if (User.IsInRole("Employer") || User.IsInRole("Administrator"))
    {

        <text> | </text><a asp-page="./Edit" asp-route-id="@Model.JobOfferSingle.Id">Edit</a><text> |</text>
        <a asp-page="./Delete" asp-route-id="@Model.JobOfferSingle.Id">Delete</a>
    }
    else if (User.Identity.IsAuthenticated)
    {
        <a asp-page="/JobApplications/Create" asp-route-id="@Model.JobOfferSingle.Id">Apply</a>
    }

    <h2 >@Html.DisplayNameFor(model => model.JobOfferSingle.Description)</h2>
    <p>@Html.DisplayFor(modelItem => Model.JobOfferSingle.Description)</p>

    <h2 >@Html.DisplayNameFor(model => model.JobOfferSingle.Localization)</h2>
    <p>@Html.DisplayFor(modelItem => Model.JobOfferSingle.Localization)</p>


    <iframe src="/JobOffers/Index?id=@Model.JobOfferSingle.FileId&handler=Download"
            width="100%"
            height="800px"
            style="border: none;">
        <p>
            Your browser does not support PDFs.
            <a href="/JobOffers/Index?id=@Model.JobOfferSingle.FileId&handler=Download">Download the PDF</a>.
        </p>
    </iframe>

    <h2 >@Html.DisplayNameFor(model => model.JobOffer[0].EmployementType)</h2>
    <p>@Html.DisplayFor(modelItem => Model.JobOfferSingle.EmployementType)</p>
    <h2 >@Html.DisplayNameFor(model => model.JobOffer[0].Tags)</h2>
    <p>@Html.DisplayFor(modelItem => Model.JobOfferSingle.Tags)</p>
    <h2 >@Html.DisplayNameFor(model => model.JobOffer[0].AddedDate)</h2>
    <p>@Html.DisplayFor(modelItem => Model.JobOfferSingle.AddedDate)</p>
    <h2 >@Html.DisplayNameFor(model => model.JobOffer[0].ExpirationDate)</h2>
    <p>@Html.DisplayFor(modelItem => Model.JobOfferSingle.ExpirationDate)</p>
</div>
}


<div class="float-clear"></div>