@page
@model WebApp.Pages.JobOffers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Employer"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobOffer[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOffer[0].localization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOffer[0].tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobOffer[0].expirationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobOffer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expirationDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page-handler="Download" asp-route-id="@item.fileId">Download</a> |
                @if (User.IsInRole("Employer") || User.IsInRole("Administrator"))
                {
                    <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
                }
                else
                {
                    <a asp-page="/JobApplications/Create" asp-route-id="@item.id">Apply</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
